::-webkit-scrollbar {
  width: 0px;
}

.img_detail_scale_on {
  width: auto !important;
  max-width: 100vw !important;
  max-height: 100vh !important;
  margin: 0;
  padding: 12px;
  overflow: auto;
}

.img_detail_scale_on .v-image {
  display: block;
  max-height: 100vh;
  margin: 0 auto;
}

.img_detail_scale_on .v-responsive__sizer,
.img_detail_scale_on .v-image__image {
  display: none;
}

.img_detail_scale_on .v-responsive__content {
  position: relative;
  width: auto !important;
  max-width: 100vw !important;
  max-height: 100vh;
  margin: 0 !important;
}

.img_scale_scroll {
  display: none;
}

.img_detail_scale_on .img_scale_scroll {
  display: block;
  max-width: 100vw;
  max-height: calc(100vh - 30px);
  overflow: auto;
}

.nav_drawer .v-navigation-drawer__content::-webkit-scrollbar,
.img_scale_scroll::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
}

.img_scale_scroll::-webkit-scrollbar-track {
  background: #e6e6e6;
  border-left: 1px solid #dadada;
}

.nav_drawer .v-navigation-drawer__content::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border: solid 3px #fff;
  border-radius: 7px;
}

.theme--dark .nav_drawer .v-navigation-drawer__content::-webkit-scrollbar-thumb {
  border: solid 3px #363636;
}

.img_scale_scroll::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border: solid 3px #e6e6e6;
  border-radius: 7px;
}

.nav_drawer .v-navigation-drawer__content::-webkit-scrollbar-thumb:hover,
.img_scale_scroll::-webkit-scrollbar-thumb:hover {
  background: black;
}

.theme--dark .nav_drawer .v-navigation-drawer__content::-webkit-scrollbar-thumb:hover {
  background: #ddd;
}

.v-date-picker-table>table>thead>tr>th {
  padding: 0;
}

.poa_left_center {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.poa_right_center {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.v-list-item__title.title {
  line-height: 1.2 !important;
}
